parameters:
	ignoreErrors:
		-
			message: "#^Method Symfony\\\\Contracts\\\\EventDispatcher\\\\EventDispatcherInterface\\:\\:dispatch\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 1
			path: Controller/GraphQL/LoginController.php

		-
			message: "#^Anonymous function should have native return typehint \"array\"\\.$#"
			count: 1
			path: Controller/GraphqliteController.php

		-
			message: "#^Instanceof between GraphQL\\\\Executor\\\\Promise\\\\Promise and GraphQL\\\\Executor\\\\Promise\\\\Promise will always evaluate to true\\.$#"
			count: 1
			path: Controller/GraphqliteController.php

		-
			message: "#^Anonymous function should have native return typehint \"array\"\\.$#"
			count: 1
			path: DependencyInjection/GraphqliteCompilerPass.php

		-
			message: "#^Argument of an invalid type array\\|bool\\|float\\|int\\|string\\|null supplied for foreach, only iterables are supported\\.$#"
			count: 3
			path: DependencyInjection/GraphqliteCompilerPass.php

		-
			message: "#^Binary operation \"\\.\" between 'security\\.firewall…' and array\\|bool\\|float\\|int\\|string\\|null results in an error\\.$#"
			count: 2
			path: DependencyInjection/GraphqliteCompilerPass.php

		-
			message: "#^Cannot cast \\(array&nonEmpty\\)\\|float\\|int\\<min, \\-1\\>\\|int\\<1, max\\>\\|string\\|true to int\\.$#"
			count: 2
			path: DependencyInjection/GraphqliteCompilerPass.php

		-
			message: "#^Negated boolean expression is always true\\.$#"
			count: 1
			path: DependencyInjection/GraphqliteCompilerPass.php

		-
			message: "#^Property TheCodingMachine\\\\Graphqlite\\\\Bundle\\\\DependencyInjection\\\\GraphqliteCompilerPass\\:\\:\\$cacheDir \\(string\\) does not accept array\\|bool\\|float\\|int\\|string\\|null\\.$#"
			count: 1
			path: DependencyInjection/GraphqliteCompilerPass.php

		-
			message: "#^Anonymous function should have native return typehint \"string\"\\.$#"
			count: 2
			path: DependencyInjection/GraphqliteExtension.php

		-
			message: "#^Method TheCodingMachine\\\\Graphqlite\\\\Bundle\\\\DependencyInjection\\\\GraphqliteExtension\\:\\:getNamespaceDir\\(\\) is unused\\.$#"
			count: 1
			path: DependencyInjection/GraphqliteExtension.php

		-
			message: "#^Class Overblog\\\\GraphiQLBundle\\\\Config\\\\GraphQLEndpoint\\\\RootResolver referenced with incorrect case\\: Overblog\\\\GraphiQLBundle\\\\Config\\\\GraphqlEndpoint\\\\RootResolver\\.$#"
			count: 1
			path: DependencyInjection/OverblogGraphiQLEndpointWiringPass.php

		-
			message: "#^Call to static method forSchemaAndResolver\\(\\) on an unknown class TheCodingMachine\\\\Graphqlite\\\\Bundle\\\\GraphiQL\\\\GraphQLEndpointInvalidSchemaException\\.$#"
			count: 1
			path: GraphiQL/EndpointResolver.php

		-
			message: "#^Property TheCodingMachine\\\\Graphqlite\\\\Bundle\\\\GraphiQL\\\\EndpointResolver\\:\\:\\$requestStack has no typehint specified\\.$#"
			count: 1
			path: GraphiQL/EndpointResolver.php

		-
			message: "#^Call to an undefined method ReflectionType\\:\\:getName\\(\\)\\.$#"
			count: 1
			path: Mappers/RequestParameterMiddleware.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$args of function array_merge expects array, array\\<GraphQL\\\\Validator\\\\Rules\\\\ValidationRule\\>\\|\\(callable\\) given\\.$#"
			count: 1
			path: Server/ServerConfig.php

		-
			message: "#^Method TheCodingMachine\\\\Graphqlite\\\\Bundle\\\\Tests\\\\Fixtures\\\\Controller\\\\TestGraphqlController\\:\\:contacts\\(\\) return type has no value type specified in iterable type Porpaginas\\\\Arrays\\\\ArrayResult\\.$#"
			count: 1
			path: Tests/Fixtures/Controller/TestGraphqlController.php

		-
			message: "#^PHPDoc tag @return with type array\\<TheCodingMachine\\\\Graphqlite\\\\Bundle\\\\Tests\\\\Fixtures\\\\Entities\\\\Contact\\> is incompatible with native type Porpaginas\\\\Arrays\\\\ArrayResult\\.$#"
			count: 1
			path: Tests/Fixtures/Controller/TestGraphqlController.php

		-
			message: "#^Method TheCodingMachine\\\\Graphqlite\\\\Bundle\\\\Tests\\\\Fixtures\\\\Entities\\\\Contact\\:\\:injectServicePrefetch\\(\\) has parameter \\$prefetchData with no typehint specified\\.$#"
			count: 1
			path: Tests/Fixtures/Entities/Contact.php

		-
			message: "#^Method TheCodingMachine\\\\Graphqlite\\\\Bundle\\\\Tests\\\\Fixtures\\\\Entities\\\\Contact\\:\\:prefetchData\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Tests/Fixtures/Entities/Contact.php

		-
			message: "#^Method TheCodingMachine\\\\Graphqlite\\\\Bundle\\\\Tests\\\\Fixtures\\\\Entities\\\\Contact\\:\\:prefetchData\\(\\) has parameter \\$iterable with no value type specified in iterable type iterable\\.$#"
			count: 1
			path: Tests/Fixtures/Entities/Contact.php

		-
			message: "#^Call to an undefined method object\\:\\:assertValid\\(\\)\\.$#"
			count: 2
			path: Tests/FunctionalTest.php

		-
			message: "#^Call to an undefined method object\\:\\:handleRequest\\(\\)\\.$#"
			count: 1
			path: Tests/FunctionalTest.php

		-
			message: "#^Cannot call method get\\(\\) on Symfony\\\\Component\\\\DependencyInjection\\\\ContainerInterface\\|null\\.$#"
			count: 3
			path: Tests/FunctionalTest.php

		-
			message: "#^Cannot call method set\\(\\) on Symfony\\\\Component\\\\DependencyInjection\\\\ContainerInterface\\|null\\.$#"
			count: 4
			path: Tests/FunctionalTest.php

		-
			message: "#^Method TheCodingMachine\\\\Graphqlite\\\\Bundle\\\\Tests\\\\FunctionalTest\\:\\:logIn\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Tests/FunctionalTest.php

		-
			message: "#^Parameter \\#1 \\$container of method TheCodingMachine\\\\Graphqlite\\\\Bundle\\\\Tests\\\\FunctionalTest\\:\\:logIn\\(\\) expects Psr\\\\Container\\\\ContainerInterface, Symfony\\\\Component\\\\DependencyInjection\\\\ContainerInterface\\|null given\\.$#"
			count: 1
			path: Tests/FunctionalTest.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, string\\|false given\\.$#"
			count: 15
			path: Tests/FunctionalTest.php

		-
			message: "#^Parameter \\#3 \\$message of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: Tests/FunctionalTest.php

		-
			message: "#^Anonymous function should have native return typehint \"void\"\\.$#"
			count: 1
			path: Tests/GraphqliteTestingKernel.php

		-
			message: "#^Method TheCodingMachine\\\\Graphqlite\\\\Bundle\\\\Tests\\\\GraphqliteTestingKernel\\:\\:configureContainer\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Tests/GraphqliteTestingKernel.php

		-
			message: "#^Method TheCodingMachine\\\\Graphqlite\\\\Bundle\\\\Tests\\\\GraphqliteTestingKernel\\:\\:configureRoutes\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Tests/GraphqliteTestingKernel.php

		-
			message: "#^Method TheCodingMachine\\\\Graphqlite\\\\Bundle\\\\Tests\\\\GraphqliteTestingKernel\\:\\:configureRoutes\\(\\) has parameter \\$routes with no typehint specified\\.$#"
			count: 1
			path: Tests/GraphqliteTestingKernel.php

		-
			message: "#^Property TheCodingMachine\\\\Graphqlite\\\\Bundle\\\\Tests\\\\GraphqliteTestingKernel\\:\\:\\$enableLogin \\(string\\) does not accept string\\|null\\.$#"
			count: 1
			path: Tests/GraphqliteTestingKernel.php

		-
			message: "#^Call to an undefined method object\\:\\:assertValid\\(\\)\\.$#"
			count: 1
			path: Tests/NoSecurityBundleTest.php

		-
			message: "#^Cannot call method get\\(\\) on Symfony\\\\Component\\\\DependencyInjection\\\\ContainerInterface\\|null\\.$#"
			count: 1
			path: Tests/NoSecurityBundleTest.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, string\\|false given\\.$#"
			count: 1
			path: Tests/NoSecurityBundleTest.php
