parameters:
    ignoreErrors:
        - "#Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition::children\\(\\)#"
        - "/Parameter #2 $haystack of function in_array expects array, array<string>|string given./"
        - "#Access to an undefined property GraphQL\\\\Type\\\\Definition\\\\NamedType&GraphQL\\\\Type\\\\Definition\\\\OutputType::\\$name.#"
#includes:
#    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon