includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: max
    tmpDir: .phpstan-cache
    paths:
        - src
    excludePaths:
        - vendor
        - cache
        - .phpstan-cache
        - tests

    polluteScopeWithLoopInitialAssignments: false
    polluteScopeWithAlwaysIterableForeach: false
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # Wrong return type hint in Symfony's TreeBuilder
        - message: '#Call to method arrayNode\(\) on an unknown class#'
          path: src/DependencyInjection/Configuration.php
        - message: '#Cannot call method \w+\(\) on mixed#'
          path: src/DependencyInjection/Configuration.php
        # PhpStan doesn't know bundle resolved config structure and it's pretty complex to describe it
        - message: '#Parameter \#2 \$value of method Symfony\\Component\\DependencyInjection\\Container::setParameter\(\) expects array\|bool\|float\|int\|string\|UnitEnum\|null, mixed given\.#'
          path: src/DependencyInjection/GraphQLiteExtension.php
